## Service Installation Parameters
Description: {{json.description}}

### Parameters
{% for param in json.parameters %}
**{{param.name}}**

- Label: {{param.label}}
- Description: {{param.description}}
- Required: {{param.required}}
- Default: {{param.default}}

{% endfor %}

### Roles

{% for role in json.roles %}
- Service: {{role.name}}
- Label: {{role.label}}

#### Parameters

{% for param in role.parameters %}
**{{param.name}}**
- Label: {{param.label}}
- Description: {{param.description}}
- Required: {{param.required}}
- Default: {{param.default}}

{% endfor %}
{% endfor %}
