.InformationAreaListItem {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    height: 150px;
    margin-right: 25px;
}

.InformationAreaListItem-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.InformationAreaListItem-title {
    margin-top: 0;
}

.InformationAreaListItem-created {
    font-size: 14px;
}

.InformationAreaListItem-action {
    width: 60px;
}

.InformationAreaListItem .fa {
    font-size: 34px;
    color: #2EC4B6;
}