.WorkspaceDetails .Header {
  text-align: center;
  border-right: 1px solid black;
}

.WorkspaceDetails .Header > .fa {
  font-size: 32px;
}

.WorkspaceDetails .Header > .Label {
  font-size: 24px;
  font-weight: 200;
  font-family: "Roboto";
}
