<div style="background-color: #f0f3f5; font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif; font-weight: 200;">
    <div style="color: #ffffff; background-color: #2e4052; padding: 50px; text-align: center; text-transform: uppercase">
        <div style="font-size: 24px">NEW WORKSPACE REQUEST</div>
    </div>
    <div style="width: 50%; padding: 25px; margin: 50px auto; background-color: #fff">
        <p>A new workspace '{{workspaceName}}' has been requested by '{{userName}}' and is waiting for your review. Click below to view it.</p>
    </div>
    <a style="background-color: #2e4052; text-decoration: none; padding: 10px 25px; margin: 50px auto; width: 250px; display: block; color: #ffffff; font-weight: 500; text-align: center"
       href="{{uiUrl}}/#/workspaces/{{workspaceId}}">
        GO THERE
    </a>
</div>
