<div style="background-color: #f0f3f5; font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, sans-serif; font-weight: 200; padding: 80px 0px">
    <table style="max-width: 600px; margin: 0 auto; width: 100%; background: white">
        <tr>
            <td style="color: #ffffff; background-color: #2d7493; padding: 30px; text-align: center; font-size: 24px">
                New Archway Workspace Request
            </td>
        </tr>
        <tr style="margin: 20px">
            <td style="padding: 50px; color: #2d7493">
                A new workspace '{{workspaceName}}' has been requested by '{{userName}}' and is waiting for your review. Click below to view it.
            </td>
        </tr>
        <tr>
            <td style="padding: 30px">
                <a style="background-color: #2d7493; text-decoration: none; padding: 10px 25px; margin: 0px auto; width: 250px; display: block; color: #ffffff; font-weight: 500; text-align: center"
                href="{{uiUrl}}/#/workspaces/{{workspaceId}}">
                    View Workspace
                </a>
            </td>
        </tr>
    </table>
</div>
