.Compliance {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.Compliance-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Compliance-item.false {
    display: none;
}

.Compliance-item > .fa {
    font-size: 35px;
    color: #E74C3C;
}