.MemberList {
    display: flex;
    flex-direction: column;
    background: white;
    border: solid black 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 10px;
    align-content: left;
    justify-content: space-evenly;
    padding: 25px;
}

.MemberList > h2 {
    border-bottom: solid black 1px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-top: 0;
}

.MemberList-item {
    padding: 10px 0;
    font-family: Roboto;
}

.MemberList-item-add {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.MemberList-item-add input {
    min-width: auto;
    text-align: left;
    font-size: unset;
    padding: 5px 10px;
}

.MemberList-item-add > .fa {
    color: #0b7a75;
    margin-right: 5px;
    font-size: 20px;
}