.RequestSharedWorkspace {
    height: 150px;
    width: 350px;
    margin-right: 25px ;
}

.RequestSharedWorkspace > h3 {
    margin-top: 0;
}

.RequestSharedWorkspace .fa-plus {
    font-size: 34px;
    color: #2EC4B6;
}