.SharedWorkspaces {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SharedWorkspaces-list {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

.SharedWorkspaces-list > div {
    margin-bottom: 20px;
}