.WorkspaceList {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.WorkspaceList-list {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
}

.WorkspaceList-nothing {
    display: flex;
    flex: 1;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}