.WorkspaceListNav {
    margin: 0 15px;
    padding: 10px 0;
}

.WorkspaceListNav-link {
    color: black;
    text-decoration: none;
}

.WorkspaceListNav-link:hover {
    text-decoration: underline;
}