.Navigation {
    display: flex;
    height: 50px;
    padding: 10px;
    flex-direction: row;
    background-color: #455C7B;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.Navigation-logo {
    heighT: 50px;
    margin-right: 10px;
}

.Navigation-left {
    font-size: 44px;
}

.Navigation-left,
.Navigation-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}