.UserWorkspace {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.UserWorkspace-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}