.UserWorkspaceDisplay {
    min-width: 350px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.UserWorkspaceDisplay-notice {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
}

.UserWorkspaceDisplay-sub {
    font-size: 18px;
}

.UserWorkspaceDisplay-info dt {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.UserWorkspaceDisplay-info dd {
    display: inline;
    margin: 0;
}

.UserWorkspaceDisplay-info dd:after {
    content: "";
    display: block;
}