

.UserWorkspaceDisplay-notice {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
}

.UserWorkspaceDisplay-sub {
    font-size: 18px;
}

.UserWorkspaceDisplay-info dt {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}

.UserWorkspaceDisplay-info dd {
    display: inline;
    margin: 0;
}

.UserWorkspaceDisplay-info dd:after {
    content: "";
    display: block;
}