.UserWorkspaceAbsent {
    height: 150px;
    width: 350px;
}

.UserWorkspaceAbsent-notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
}

.UserWorkspaceAbsent .fa-plus {
    font-size: 34px;
    color: #2EC4B6;
}

.UserWorkspaceAbsent > h3 {
    margin-top: 0;
}
