.Navigation {
    display: flex;
    height: 75px;
    flex-direction: row;
    background-color: #011627;
    color: white;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    padding: 10px;
}

.Navigation-logo {
    height: 50px;
    margin-right: 10px;
}

.Navigation-nav {
    margin-left: 50px;
    display: flex;
    flex: 1;
}

.Navigation-nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Playfair Display";
    margin-right: 20px;
    padding: 23px 10px;
}

.Navigation-nav-link > i {
    margin-right: 5px;
}

.Navigation-nav-link.active {
    border-bottom: 4px solid white;
    margin-bottom: -4px;
}

.Navigation-nav > li:last-child:after {
    content: none;
}

.Navigation-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    flex: 1;
}

.Navigation-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
}

.Navigation-title {
    display: flex;
    font-size: 44px;
    align-items: center;
}

.Navigation-title-link {
    color: white;
    text-decoration: none;
}
