.Profile {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 7px;
    font-weight: 200;
    font-size: 28px;
    font-family: "Playfair Display";
}

.Profile-logout button {
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-left: 5px;
    font-family: "Roboto";
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: none;
}