@import "../node_modules/antd/dist/antd.less";   // import official less entry file

@primary-color: #0B7A75;
@font-family: Roboto, sans-serif;
@layout-header-background: #2E4052;
@menu-dark-color: #F0F3F5;
@menu-dark-submenu-bg: #F0F3F5;

@tabs-ink-bar-color: #333333;
@tabs-highlight-color: #333333;

h1, h2 {
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}