@font-face {
  font-family: FontAwesome;
  src: url('/fonts/LineAwesomeline-awesome.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Thin.ttf') format('ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('ttf');
  font-weight: 400;
}

h1, h2 {
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

tbody {
  background-color: white;
}
