.Button {
    background-color: #2EC4B6;
    text-decoration: none;
    font-family: "Slabo 27px";
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 20px 30px;
    line-height: 1.2;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    min-width: 200px;
}