.Button {
    background-color: #2EC4B6;
    text-decoration: none;
    font-family: "Playfair Display";
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding: 20px 30px;
    line-height: 1.2;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    min-width: 200px;
    box-shadow: 5px 5px 5px #707070;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

.Button:hover {
    background-color: #26a296;
}

.Button:active {
    background-color: #81e1d8;
}