.FAB {
    cursor: pointer;
    border-radius: 50%;
    background-color: #E74C3C;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.FAB > i {
    position: relative;
    left: 19px;
    top: 18px;
}