.MetricDisplay {
  text-align: center;
}

.MetricDisplay-label {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
}

.MetricDisplay-metric {
  color: #FF9F1C;
  font-size: 64px;
  font-family: Roboto;
  font-weight: 100;
}
