.ProcessingDisplay {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: solid black 1px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    border-radius: 10px;
    margin: 0px 50px 25px 50px;
}

pre {
    display: inline-block;
    background: #e2e2e2;
    color: red;
    font-family: monospace;
    font-size: .7em;
    padding: 5px;
}

.ProcessingDisplay > h2 {
    border-bottom: solid black 1px;
    font-weight: bold;
    padding-bottom: 10px;
}

.ProcessingDisplay-Display {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.ProcessingDisplay-Display-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.ProcessingDisplay-Display-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}
