.WorkspaceHeader-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
}

.WorkspaceHeader-header > .fa {
    font-size: 34px;
    color: #455C7B;;
}

.WorkspaceHeader-header > h5,
.WorkspaceHeader-header > h2 {
    margin-left: 10px;
}

.WorkspaceHeader-header > h2 {
    font-weight: bold;
}